{
    "name": "",
    "description": "",
    "spec": [
        {
            "question_name": "Developer Password",
            "question_description": "",
            "required": true,
            "type": "password",
            "variable": "developer_password",
            "min": 5,
            "max": 32,
            "default": "{{ tower_admin_password }}",
            "choices": ""
        }
    ]
}
